@font-face {
    font-family: myEverythingCalligraphy;
    src: url("../fonts/everything_calligraphy/Everything\ Calligraphy\ -\ TTF.ttf");
}

@font-face {
    font-family: myRileyFrost;
    src: url("../fonts/riley_frost/Riley Frost.ttf");
}

.h-img-parent {
    background-image: url("https://manuelymaritza.imgix.net/img_portada.jpeg?w=1083&h=718&auto=compress&fit=crop");
    background-size:cover;
    background-position: center;
    height: 600px;
    position: relative;
}

.h-img-parent:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    /* background: rgba(245,245,220,.5); */
    background: rgba(0, 0, 0, 0.7);
}

.img-fondo {
    background-image: url("../img/fondo_5.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
}

.img-fondo-lugar {
    background-image: url("../img/lugar_2.jpg");
    background-size: cover;
    background-position: top;
    position: relative;
}

.h-main-text {
    color: #ede8de;
    position: relative;
}

.h-big-font {
    font-size: 2.5em;
    font-weight: 500;
}

.h-small-font {
    font-size: 0.6em;
}

.h-font-08 {
    font-size: 0.8em;
}

.font-everything {
    font-family: myEverythingCalligraphy;
}

.font-riley {
    font-family: myRileyFrost;
}

.italica {
    font-style: italic;
}

.text-grey {
    color: #000;
}

.text-black {
    color: #000;
}

.color-fondo {
    background-color: #ede8de;
}

.row {
    margin-right: 0px !important;
    --bs-gutter-x: 0 !important;
}

.splide__slide {
    padding-top: 30px;
    padding-bottom: 30px;
}

.splide__pagination__page.is-active {
    background: #000 !important;
}

.card {
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    background-color: #ede8de;
}

.card-img-top {
    width: 75px;
    align-self: center;
}

.card-title {
    font-family: myRileyFrost;
    font-size: 1rem;
    text-align: center;
}

.card-text {
    font-family: myRileyFrost;
    text-align: center;
    font-size: 0.8em;
}